#playground{
    width: 800px;
}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;

}

.active{
    background-color: aquamarine;
}

.bomb{
    background-color: red;
}

.msg {
    display: block;
    transform: scaleY(1);
    background-color: rgb(255,255,255,0.8);
    width: 25vw;
    top: 20vh;
    transition: 1s;
}

.msg-none{
    transform: scaleY(0);
}